In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wr
wr.filterwarnings('ignore')

In [12]:
df = pd.read_csv("bus_eta_dataset.csv")
print(df.head())

             timestamp   bus_id route_id  stop_sequence  \
0  2024-01-01 06:00:00  BUS_001     R001              1
1  2024-01-01 06:05:00  BUS_001     R001              2
2  2024-01-01 06:10:00  BUS_001     R001              3
3  2024-01-01 06:17:00  BUS_001     R001              4
4  2024-01-01 06:23:00  BUS_001     R001              5

                   current_stop_name                     next_stop_name  \
0                      UTAR bus stop  KJ370 Perumahan SG Long Seksyen 7
1  KJ370 Perumahan SG Long Seksyen 7                  KJ428 SMK SG Long
2                  KJ428 SMK SG Long                   Green Acre Condo
3                   Green Acre Condo                 SG Long Club House
4                 SG Long Club House                      UTAR bus stop

   day_of_week  is_holiday  is_peak_hour weather_condition  passenger_count  \
0            0       False         False             sunny               18
1            0       False         False             rainy               13
2            0       False         False             rainy                2
3            0       False         False             windy               14
4            0       False         False             windy               11

   current_speed traffic_condition  distance_to_next_stop  current_lat  \
0          19.62               jam                   0.39     3.044544
1          21.65             heavy                   0.24     3.047666
2          51.02             light                   0.47     3.045477
3          50.09             light                   0.27     3.042788
4          16.74               jam                   0.53     3.042749

   current_lon  eta_minutes
0   101.794874            3
1   101.796650            0
2   101.798123            0
3   101.798283            0
4   101.796945            5

In [13]:
df.shape

(100000, 17)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   timestamp              100000 non-null  object
 1   bus_id                 100000 non-null  object
 2   route_id               100000 non-null  object
 3   stop_sequence          100000 non-null  int64
 4   current_stop_name      100000 non-null  object
 5   next_stop_name         100000 non-null  object
 6   day_of_week            100000 non-null  int64
 7   is_holiday             100000 non-null  bool
 8   is_peak_hour           100000 non-null  bool
 9   weather_condition      100000 non-null  object
 10  passenger_count        100000 non-null  int64
 11  current_speed          100000 non-null  float64
 12  traffic_condition      100000 non-null  object
 13  distance_to_next_stop  100000 non-null  float64
 14  current_lat            100000 non-null  float64
 15  current_lon            100000 non-null  float64
 16  eta_minutes            100000 non-null  int64
dtypes: bool(2), float64(4), int64(4), object(7)
memory usage: 11.6+ MB

In [15]:
df.describe()

,stop_sequence,day_of_week,passenger_count,current_speed,distance_to_next_stop,current_lat,current_lon,eta_minutes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,2.988910,2.99254,18.304740,31.734311,0.379676,3.045086,101.797202,1.062050
std,1.414449,1.99766,8.218921,14.058088,0.111524,0.002153,0.001187,1.878413
min,1.000000,0.00000,0.000000,5.000000,0.240000,3.041484,101.794788,0.000000
25%,2.000000,1.00000,12.000000,19.860000,0.270000,3.043120,101.796117,0.000000
50%,3.000000,3.00000,17.000000,34.080000,0.390000,3.045089,101.797769,0.000000
75%,4.000000,5.00000,24.000000,43.360000,0.470000,3.047352,101.798200,1.000000
max,5.000000,6.00000,50.000000,60.000000,0.530000,3.048100,101.798641,21.000000

In [16]:
df.columns.tolist()

['timestamp',
 'bus_id',
 'route_id',
 'stop_sequence',
 'current_stop_name',
 'next_stop_name',
 'day_of_week',
 'is_holiday',
 'is_peak_hour',
 'weather_condition',
 'passenger_count',
 'current_speed',
 'traffic_condition',
 'distance_to_next_stop',
 'current_lat',
 'current_lon',
 'eta_minutes']

In [17]:
df.isnull().sum()

timestamp                0
bus_id                   0
route_id                 0
stop_sequence            0
current_stop_name        0
next_stop_name           0
day_of_week              0
is_holiday               0
is_peak_hour             0
weather_condition        0
passenger_count          0
current_speed            0
traffic_condition        0
distance_to_next_stop    0
current_lat              0
current_lon              0
eta_minutes              0
dtype: int64

In [18]:
df.nunique()

timestamp                100000
bus_id                        5
route_id                      1
stop_sequence                 5
current_stop_name             5
next_stop_name                5
day_of_week                   7
is_holiday                    2
is_peak_hour                  2
weather_condition             5
passenger_count              51
current_speed              5444
traffic_condition             4
distance_to_next_stop         5
current_lat                6616
current_lon                3854
eta_minutes                  20
dtype: int64